/another_manager-desktop/bin/
/another_manager/bin
/another_manager-android/bin
/another_manager-android/proguard_logs
out/
.idea/
*.iml
*.apk
another_manager-android/lint.xml
another_manager-android/.classpath
another_manager-android/.settings/org.eclipse.jdt.core.prefs
another_manager/.classpath
another_manager-android/proguard/
another_manager-android/gen/de/cosh/anothermanager/BuildConfig.java
another_manager-android/gen/de/cosh/anothermanager/R.java
another_manager-android/project.properties
another_manager-android/gen/de/cosh/anothermanager/Manifest.java
another_manager-desktop/.classpath
